ACCESS_TOKEN_SECRET=

ACCESS_TOKEN_SESSION_TIMEOUT=

REFRESH_TOKEN_SECRET=

REFRESH_TOKEN_SESSION_TIMEOUT=
REGION = GLOBAL


POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=

AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_PATH=

OPEN_SWAGGER = true
NODE_ENV=staging
PORT=
HTTP=
HOSTNAME=
URL=
SSL=false
SSL_KEY_PATH=""
SSL_CERT_PATH=""


#TENCENT_CHINA
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
TENCENT_CFA_BUCKET_NAME=
TENCENT_REGION=
TENCENT_STORAGE_CLASS=


CRM=
WEB_RESULT_SECRET_KEY=